<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dinosaur_breed.name %>
</p>

<%= link_to 'Edit', edit_dinosaur_breed_path(@dinosaur_breed) %> |
<%= link_to 'Back', dinosaur_breeds_path %>
